.page[b-hd50yon4ti] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hd50yon4ti] {
    flex: 1;
    min-width: 0;
    overflow-x: hidden;
}

.sidebar[b-hd50yon4ti] {
    background-image: linear-gradient(180deg, #511A66 0%, #300f3d 100%);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 641px) {
    .page[b-hd50yon4ti] {
        flex-direction: row;
    }

    .sidebar[b-hd50yon4ti] {
        width: 260px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    article[b-hd50yon4ti] {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}
